.Home {
  height: 100vh;
  overflow: visible;
}

.BottomBar {
  --margin-left-right: 20px;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: calc(100% - var(--margin-left-right) * 2);
  margin: 0 20px;
  box-sizing: border-box;
}

.Fade {
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

}
