.Task {
    width: 100%;
    border-radius: 100vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    padding: 10px 20px;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 6fr 1fr;

    overflow: visible;
}

.Task > :first-child {
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Task > :last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}