.TaskStatusIndicator {
  --diameter: 1.5rem;
  width: var(--diameter);
  height: var(--diameter);

  border-radius: 100%;
  background-color: white;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.Done {
    background-color: #10EFA6;
}
